{% extends 'a-base.html' %}
{% block title %}ስለ እኛ{% endblock %}
{% block name %}ስለ እኛ{% endblock %}
{% block main %}
<section id="overview" class="padding-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
         <h2 class="heading">ማን ነን?</h2>
         <hr class="heading_space">
         <p>
            አገልግሎቶቻችንን ለሀገር ውስጥ ደንበኞቻችን እናቀርባለን ፣BILIHCARE ልዩ በሆነው አገልግሎቶቹ ውስጥ ያለ ክፍተቶች ሁሉ ልዩ ፍላጎቶችዎ በባለሙያዎች እጅ ላይ ይደርሳሉ። በኢንጂነሮች ፣በመሳሪያዎች እና ሂደቶች ላይ ያለን ትልቅ መዋዕለ ንዋይ ማፍሰስ እና ስለሆነም በእርግጠኝነት እጅግ በጣም ጥሩውን ተሞክሮ ይሰጥዎታል።
         </p>
      </div>
    </div>
  </div>
</section>
<section id="overview" class="padding-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
           <h2 class="heading">እኛ እምንሰራው?</h2>
           <hr class="heading_space">
           <p>
            የእኛ እያንዳንዱ ደንበኛ ከዕውቀታችን፣ ተቃራኒ ዋጋዎች፣ ፈጣን ለውጥ እና የተዋጣለት አገልግሎት ሁሉንም ያካተተ እውቀት በዚህ ልዩ መስክ ምርጡን ይጠቀማል። ምርቶችዎን ከዋናው ጋር ለመመርመር እና ለመጠገን የሚያስችለንን የቅርብ ጊዜ ልዩ አቅርቦቶችን አሟልተናል። በስራችን ውስጥ ያለውን ጥንካሬ እና አስማት በእጃችን ውስጥ ታያለህ.
        </p>
        </div>
      </div>
    </div>
  </section>
  <section id="overview" class="padding-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
           <h2 class="heading">አገልግሎቶች</h2>
           <hr class="heading_space">
           <p>
            ፈጣን የአገልግሎት ሂደት በሞባይል ማእከል እንሰጣለን። ቢሊህኬር በኢትዮጵያ ካሉ ምርጥ ምክንያታዊ የሞባይል አገልግሎት መስጫ ማዕከላት አንዱ ይሆናል፣ ሁሉንም ሞዴሎች ስማርት ፎኖች፣ ላፕቶፕ ቲቪዎች እና ሌሎች የኤሌክትሮኒክስ መግብሮችን እያስተካከልን ነው። አገልግሎታችን የንክኪ ስክሪን መጠገን/መተካት ፣ፈሳሽ እና የውሃ ጉዳት መጠገን ፣የተበላሸ እና የአካል ጉዳት ጥገና ፣የዋናው ሰሌዳ ቺፕ ደረጃ መጠገን ፣ቻርጅ ወደብ ፣የኃይል ቁልፍ ፣የጎን ቁልፍ ፣ካሜራ ጥገና ፣የጆሮ ማዳመጫ መሰኪያ ፣ዋይፋይ ፣ብሉቱዝ ፣ባትሪ መተካት ፣መክፈቻ የተቆለፉ ስልክ እና ፒሲዎች፣ የሶፍትዌር መላ ፍለጋ እና ደረጃ ማሻሻል።
        </p>
        </div>
      </div>
    </div>
  </section>
  <section id="overview" class="padding-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
           <h2 class="heading">ቢሊህኬር የኢትዮጵያ ቁጥር 1 የተደራጀ የሞባይል ስልክ መጠገኛ ማዕከል ይሆናል።</h2>
           <hr class="heading_space">
           <p>
            ቢሊህኬር በኢትዮጵያ ትልቁን የሞባይል ስልክ መጠገኛ ሰንሰለት እየሰራ ሲሆን ትልቁ የኤሌክትሮኒክስ አገልግሎት ሰጪ ይሆናል። እኛ አንድሮይድ እና አይኦኤስ ስማርትፎኖች፣ እና ዊንዶውስ ላይ የተመሰረቱ ላፕቶፖች እንዲሁም ቴሌቪዥኖች መጠገን ጋር ለተያያዙ ሁሉም ፍላጎቶች አንድ ጊዜ መፍትሄ ነን። ኩባንያው በጥገና ኢንዱስትሪ ውስጥ ያሉትን ችግሮች ለመፍታት ያለመ ነው. ቢሊህኬር አፕል፣ አይፎን፣ ቴክኖ፣ ኢቴል፣ ኢንፊኒክስ፣ የሁዋዌ፣ ሌኖቮ፣ ዜድቲኢ፣ ሁሉም የሳምሰንግ እና የሪልሜ ስልኮችን ጨምሮ ለሁሉም ዋና ዋና ብራንዶች ለስማርት ስልኮች፣ ሞባይል እና ላፕቶፖች ጥገና እና አገልግሎት ይሰጣል። ቢሊህኬር በአሁኑ ጊዜ በመላው ኢትዮጵያ ከ3 በላይ የጥገና ሱቆች እና የአገልግሎት መስጫ ሱቆች ያሉት ሲሆን ቁጥሩም በፍጥነት እየጨመረ ነው።
        </p>
        <p>
            እንደ ኦንላይን የሞባይል ጥገና ፣የበር ሞባይል ጥገና ሰፊ የሞባይል ስልክ አገልግሎቶችን እናቀርባለን። ስማርት ፎን እና ላፕቶፕ ካለህ፣ ደህና፣ የዛሬውን አለም ግምት ውስጥ በማስገባት እርግጠኛ ነህ፣ ከዚያ በትክክለኛው ቦታ ላይ ደርሰሃል! Bilihcare ስልክ ወይም ላፕቶፕ መጠገን የሕይወታቸው አስከፊ ቅዠት ሊሆን ይችላል ብለው በማሰብ ቀላል፣ ውጤታማ፣ ቀልጣፋ እና ለሁሉም ሟች ሰዎች ተደራሽ በማድረግ 'ማስተካከል' የሚለውን ቃል እንደገና ይገልፃል።
        </p>
        <p>
            በቢሊህኬር በመላው ኢትዮጵያ የሚገኙ ደንበኞቻችንን በሞባይል ጥገና ዘርፍ በተሻለ በተመጣጣኝ ዋጋ እናገለግላለን። ጥራት ያለው የስማርትፎን ጥገናን 100% የደንበኛ እርካታ እናቀርባለን። የኛ በር የሞባይል መጠገኛ መደብሮች ጎንደር፣ ባህርዳር፣ አዲስ አበባን ጨምሮ በመላው ኢትዮጵያ ይገኛሉ እና ከሁሉም ዋና ዋና ከተሞች በፍጥነት እናቀርባለን።
        </p>
        </div>
      </div>
    </div>
  </section>
  <section id="overview" class="padding-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
           <h2 class="heading">እኛ ሁሌም ችሎታ ፍለጋ ላይ ነን!</h2>
           <hr class="heading_space">
           <p>
            ለአዲስ ንግድ መንገድ መሄድ ቀላል አይደለም። ግን ከትልቅ ኩባንያ ሀብቶች ጋር ሥራ ፈጣሪ የመሆን ሁሉንም ጥቅሞች ቢያገኙስ? ፍራንቻይዝ መክፈት ለእርስዎ ትክክለኛ መንገድ ሊሆን ይችላል። BILIHCARE ቅርንጫፍ እንዲወጡ እና እንዲያሳድጉ ይፈቅድልዎታል ፣እሱም ንግዶቻችንን በትልቁ ኩባንያ እርዳታ እና ድጋፍ እንዲያካሂዱ እድል ይሰጥዎታል ለስኬት የተረጋገጠ ቀመር ስላለን። እርግጥ ነው፣ ብዙ ለሚሹ የንግድ ሥራ ባለቤቶች፣ ፍራንቻይዝ ማድረግ በጣም ያነሰ አደገኛ፣ ግን አሁንም የሚክስ፣ አማራጭ ነው።
        </p>
        </div>
      </div>
    </div>
  </section>
  <section id="overview" class="padding-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
           <h2 class="heading">በአጠቃላይ</h2>
           <hr class="heading_space">
           <p>
            ችግሩ ምንም ይሁን ምን, እናስተካክለዋለን. የኛ ቢሊህኬር መሐንዲሶች የሚወዱትን ኤሌክትሮኒክስ ምርጡን ማግኘት እንዲችሉ ይመረምራሉ፣ ያድሱ እና ይጠግኑ

            የኛ የቢሊህኬር መሐንዲሶች የምርት ማሳያ ይሰጡዎታል፣መገጣጠም እንዲለማመዱ እና በኤሌክትሮኒክስዎ የበለጠ እንዲሰሩ የሚያስችልዎትን ጠቃሚ ምክሮችን ያካፍሉ።
            
            Bilihcare ኤሌክትሮኒክስዎን እንደ አዲስ በሚያቆዩ የጥገና አገልግሎቶች ከሁሉም መሳሪያዎችዎ እና መጠቀሚያዎችዎ ያልተቋረጠ አገልግሎት እንደሚያገኙ ያረጋግጣል።
        </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}