{% extends 'a-base.html' %}
{% block title %}ተደጋግሞ የሚነሱ ጥያቄዎች{% endblock %}
{% block name %}ተደጋግሞ የሚነሱ ጥያቄዎች{% endblock %}
{% block main %}
<section id="faq" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h2 class="heading">ተደጋግመው የሚነሱ ጥያቄዎች </h2>
      <hr class="heading_space">
        <div class='faq_wrapper'>
          <ul class='items'>
              <li>
                <a href='#'>ስለዋጋዎቹ የት ማየት እችላለሁ</a>
                <ul class='sub-items'>
                  <li>
                    <p class="half_space">የመጀመሪያ ገጽ ላይ ሞባይል ስልከዎትን እና የገጠመውን ችግር በመምረጥ place order የሚለውን ማዘዣ በመጫን ዋጋውን መመልከት ይችላሉ፡፡</p>
                  </li>
                </ul>
              </li>
              <li>
                <a href='#'>ብዙ ጥገናዎችን ማስያዝ እችላለሁ?</a>
                <ul class='sub-items'>
                  <li>
                    <p class="half_space">አዎ ይችላሉ፡፡ ብዙ የሚጠገኑ እቃዎች ካለዎት በሁለቱም መንገድ ሊያዝን ይችላሉ፡፡ ማለትም ወደ ማዕከላችን ለመምጣት ቀጠሮ እንዲያዝልዎት እና ካሉበት እቃዎቹን ወስደን ጠግነን እንድንመልስልዎ፡፡ ከአንድ ቀን በላይ የሚወስድ ትዕዛዝ ካለዎት የጥገና ሂደቱ በመልዕክት (SMS) ይገለፅልዎታል፡፡</p>
                  </li>
                </ul>
              </li>
              <li>
                <a href='#'>ምን ያህል ጊዜ ይወስዳል?</a>
                <ul class='sub-items'>
                  <li>
                    <p class="half_space">የመደበኛ የስማርት ስልኮች የጥገና ሂደት ሰላሳ ደቂቃ ያክል ይወስዳል፡፡ ሌሎች ታብሌቶችና ኮምፕዩጠሮች እንዲሁም ቴሌቪዥኖች ከአንድ ሰዓት እስከ ሁለት ሰዓት ያክል ይወስዳል፡፡</p>
                  </li>
                </ul>
              </li>
              <li>
                <a href='#'>ጥገናው የት ነው የሚከናወነው?</a>
                <ul class='sub-items'>
                  <li>
                    <p class="half_space">ሁሉም ጥገናዎች የሚከናዎኑት በሞባይል ማዕከሎቻችን ነው::</p>
                  </li>
                </ul>
              </li>
              <li>
                <a href='#'>•	የBILIHCARE ቴክኒሻን ወደኛ ይመጣል?</a>
                <ul class='sub-items'>
                  <li>
                    <p class="half_space">አይ አይመጣም፡፡ ሁሉም ጥገናዎች በሞባይል ማዕከሎቻችን ይከናዎናሉ፡፡ ነገር ግን በአቅራቢያዎ የሚገኝ ማዕከል ጥዕዛዝዎትን ለመቀበል ወደርስዎ ይመጣል፡፡ እቃዎቹን በማዕከል አስጠግኖ ባሉበት ቦታ መልሶ ያመጣልዎታል፡፡</p>
                  </li>
                </ul>
              </li>
              <li>
                <a href='#'>የBILIHCARE የዋስትና ጊዜ ምን ያክል ነው</a>
                <ul class='sub-items'>
                  <li>
                    <p class="half_space">ሁሉም የBILIHCARE ጥገናዎች ከተደረጉበት ቀን ጀምሮ ከ 30 እስከ 90 ቀናት የዋስትና ጊዜ ተሰጥቷቸዋል፡፡ </p>
                  </li>
                </ul>
              </li>
              <li>
                <a href='#'>ዋስትናው ምን ምን ይሸፍናል?</a>
                <ul class='sub-items'>
                  <li>
                    <p class="half_space">BILIHCARE በማዕከላችን ተስተካክሎ የነበረውን ልዩ ብልሽት ይሸፍናል፡፡ ስለዋስትናና ሌሎች ህጎቻችን የበለጠ ለማዎቅ Terms and services ይመልከቱ፡፡</p>
                  </li>
                </ul>
              </li>
              <li>
                <a href='#'>ባለቤቱ ማን ነው?</a>
                <ul class='sub-items'>
                  <li>
                    <p class="half_space">የ BILIHCARE Pvt,Ltd መስራችና ስራ አስኪያጅ ዮሐንስ ሙሉ ነው::</p>
                  </li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}